.buttonsContainer {
    display: flex;
    gap: 30px;
}

.responseContainer {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.imageContainer {
}

.image {
}

.textContainer{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.code {
}

.text {
}
.info {
}